* {
	/*font-family: monospace !important;*/
	font-size: min(16px) !important;
}

body, input {
	background-color: #191919;
	color: #f2f2f2;
}

.result-link,.link-text {
	color: dodgerblue !important;
}

a:visited {
	color: violet !important;
}

.submit {
	appearance: none !important;
	background: none !important;
	color: lightgray;
	padding: 5px;
	border-radius: 0px;
	height: auto !important;
}

.query {
	border-radius: 0px !important;
	height: auto !important;
	padding: 5px !important;
}

.link-text, a {
	word-break: break-all;
}

.result-sponsored {
	color: #f2f2f2;
	background-color: #151515 !important;
	border: none !important;
}
